<% provide(:title, "new") %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="form-heading">タスク新規作成</h1>
    
    <%= form_with(model: @task, local: true, url: user_tasks_path) do |f| %>
      <%= render 'shared/error_messages', object: @task %>
      
      <%= f.label :name, class: "label-login" %>
      <%= f.text_field :name, class: "form-control" %>
      
      <%= f.label :description, class: "label-login" %>
      <%= f.text_area :description, rows: "4", cols: "40", class: "form-control" %>
      
      <%= f.submit "新規作成", class: "btn btn-primary btn-login pull-left" %>

    <% end %>
  </div>
</div>


